<p>Ask your coach anything:</p>
<div class="coach">
<form action="/answer">
  <input class="question" required="true" type="text" name="ask" placeholder="  Scream to the Coach!">
  <input class="answer" type="submit" value="Ask!">
</form>
</div>
